.SideDrawerContainer {
  height: 100%;
  background: #202020;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
}
.navLinksMobile {
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  list-style: none;
  color: white;
  /*  background-color: red; */
}
.navLinkMobile {
  display: flex;
  color: white;
  font-weight: bold;
  background-color: #202020;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}
