.container-fluid{

    background-color:black;
}
p{
    color:white;
}
.searchbar{
    border-right:2px solid white;
}
.nav-item:hover{

    background-color:white;
}
.linkText:hover{
    color:black;
}