.linkText {
	color: white;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.5rem;
	text-align: center;
}
.linkText:hover {
	color: black;
}
.navLink:hover {
	background-color: white;
	color: black;
}
