.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  background-color: #202020;
}
.nav-logo {
  width: 70%;
  padding: 5px;
}
.nav-spacer {
  width: 80%;
}
.nav-links {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  list-style: none;
  color: white;
}
.nav-link {
  color: white;
  font-weight: bold;
  display: inline-flex;
  background-color: #202020;
  padding: 5px;
  text-decoration: none;
}
.navLink:hover {
  background-color: white;
  opacity: 0.5;
  color: black;
}
@media (max-width: 600px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-logo {
    width: 90px;
    height: 42px;
  }
  .nav-link {
    font-size: 12px;
  }
  .nav-links {
    display: none;
  }
  .nav-spacer {
    width: 8%;
  }
}
