.ToggleButtonContainer {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 15px;
  width: 45px;
  background: transparent;
  border: none;
  border-radius: 10%;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.ToggleButtonContainer:focus {
  outline: none;
}
.separator {
  height: 3px;
  width: 30%;
  background: gold;
  transform: rotate(40deg);
}
.separator2 {
  height: 3px;
  width: 30%;
  background: gold;
  transform: rotate(-40deg);
}

@media (max-width: 600px) {
  .ToggleButtonContainer {
    display: flex;
  }
}
